.contenedor {
    border: 1px solid blueviolet;
    width: 90%;
    min-height: 500px;
    display: flex;
}
.formulario {
    border: 1px solid blueviolet;
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verDatos {
    border: 1px solid blueviolet;
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}